.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
}

.page-container {
    display: flex;
    justify-content: center;
}

.navigate-button {
    font-family: 'Raleway', Arial, sans-serif;
    border: none;
    background-color: #5666a5;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 0px 30px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 400;
    font-size: 1em;
    outline: none;
    position: relative;
    overflow: hidden;
    letter-spacing: 2px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.navigate-button:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.navigate-button:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #5666a5;
    content: '';
    border-radius: inherit;
}
.navigate-button:hover,
.navigate-button.hover {
    background-color: #5666a5;
    color: #ffffff;
}
.navigate-button:hover:before,
.navigate-button.hover:before {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0.25;
}
