body {
    font-family: 'Raleway', Arial, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.page-container {
    display: flex;
    justify-content: center;
}

.navigate-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigate-button {
    border: none;
    background-color: #5666a5;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 0px 30px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 400;
    font-size: 1em;
    outline: none;
    position: relative;
    overflow: hidden;
    letter-spacing: 2px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.navigate-button:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.navigate-button:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #5666a5;
    content: '';
    border-radius: inherit;
}
.navigate-button:hover,
.navigate-button.hover {
    background-color: #5666a5;
    color: #ffffff;
}
.navigate-button:hover:before,
.navigate-button.hover:before {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0.25;
}

.go-to-home-button {
    background-color: #c92626;
    border-color: #c92626;
}

.go-to-home-button:after {
    border: #c92626;
}

.go-to-home-button:hover,
.go-to-home-button.hover {
    background-color: #b22929;
}
.performance-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-wrapper{
    margin: 10px 70px 40px 70px;
    box-shadow: 0 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #5666a5;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.file-input-container {
    display: flex;
    justify-content: center;
}

.bar-chart-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 50px 0 0 0;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin: 10px 0 45px 0;
    width: 50%;
    text-align: center;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #000;
    outline: 0;
    color: #4FC3A1;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #4FC3A1;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}
